.outerDivShop {
    background-color: rgb(212, 212, 152);
    background-size: cover;
    background: linear-gradient(to bottom, #7d8466, #d8e375);
    background-size: cover;
    background-attachment: fixed;
}